[submodule "kodex-package-store"]
	path = packages/package-store
	url = https://github.com/codex-k8s/kodex-package-store.git
	branch = main
	update = none
	ignore = all
[submodule "kodex-platform-site"]
	path = packages/platform-site
	url = https://github.com/codex-k8s/kodex-platform-site.git
	branch = main
	update = none
	ignore = all
[submodule "kodex-guidelines-common-ru"]
	path = docs/external/guidelines/common
	url = https://github.com/codex-k8s/kodex-guidelines-common-ru.git
	branch = main
	update = none
	ignore = all
[submodule "kodex-guidelines-go-ru"]
	path = docs/external/guidelines/go
	url = https://github.com/codex-k8s/kodex-guidelines-go-ru.git
	branch = main
	update = none
	ignore = all
[submodule "kodex-guidelines-vue-ru"]
	path = docs/external/guidelines/vue
	url = https://github.com/codex-k8s/kodex-guidelines-vue-ru.git
	branch = main
	update = none
	ignore = all
[submodule "kodex-doc-templates-ru"]
	path = docs/external/templates
	url = https://github.com/codex-k8s/kodex-doc-templates-ru.git
	branch = main
	update = none
	ignore = all
